<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/css/style.css">
    <title>DashVendas</title>
</head>
<body>
    <header>
        <!-- Menu
         Image
         Logo -->
    </header>

    <main>
        <section class="graph">
            <canvas id="myChart"></canvas>
        </section>

        <section class="options">
            <!-- Data -->
            <input type="radio" name="tab" id="locale" class="tab" checked>
            <label for="locale">Locale</label>

            <!-- Gender -->
            <input type="radio" name="tab" id="gender" class="tab">
            <label for="gender">Gender</label>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../public/js/index.js"></script>
</body>
</html>